* {
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
p {
  text-align: justify;
  padding-right: 200px;
}

.border {
  border-color: chocolate;
}
.hr {
  margin: 50px;
}

.top-section {
  display: flex;
  background-image: url(images/top-banner.png);
  padding-left: 80px;
  background-repeat: no-repeat;
}
.name-color {
  color: orange;
}

.button {
  background-image: linear-gradient(orange, salmon);
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.button:hover {
  background-image: linear-gradient(salmon, orange);
}

.half-width {
  width: 50%;
}
.half-width img {
  width: 60%;
  border-radius: 50%;
  border: 10px solid white;
  box-shadow: 10px 10px 50px #888888;
  justify-content: center;
  margin-left: 40px;
  margin-top: 50px;
}
/* .half-width #u-me {
  border: 7px solid rgb(255, 81, 0);
} */

.middle-section {
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
